@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: auto;
	background-color: #f8f8f8;
	font-family: "Lato", sans-serif;
	color: #111111;
}

body,
a {
	color: #111111;
}

main {
	display: flex;
	flex-direction: column;
}

/* HEADER STYLING START */

header.width-padding {
	padding-left: 62px;
	padding-right: 62px;
}

header {
	padding-top: 21px;
	padding-bottom: 24px;
	border-bottom: solid 1px #c5c5c5;
	display: flex;
}

header h2,
header .right {
	flex: 1;
}

header h2 {
	margin-right: 40px;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1px;
}

header ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	width: 365px;
	justify-content: space-between;
	font-size: 15px;
	padding-top: 4px;
}

header a {
	text-decoration: none;
	opacity: 0.5;
}

/* HEADER STYLING END */

/* MAIN#CONTAINER STYLING START */

main {
	display: flex;
	flex-direction: column;
}

/* MAIN#CONTAINER STYLING END */

/* MAIN#ABOUT STYLING START */

#about {
	display: flex;
}

#about .left {
	padding: 182px 0 58px 25px;
	width: 50%;
}

#about .content {
	width: 444px;
	margin: 0 auto;
}

#about .right {
	flex: 1;
	overflow: hidden;
}

#about h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 21px;
}

#about p {
	font-size: 18px;
	line-height: 33px;
}

#about a {
	font-weight: 700;
}

#about .divider {
	width: 100%;
	height: 1px;
	background-color: #c5c5c5;
	opacity: 0.5;
	margin: 50px 0 63px 0;
}

#about h3 {
	font-size: 18px;
	margin-bottom: 13px;
}

#about .info-card {
	margin-bottom: 54px;
}

#about img {
	height: 1000px;
}

/* MAIN#ABOUT STYLING END */

@media only screen and (max-width: 970px) {
	header ul {
		display: none;
	}
	header h2 {
		margin-right: 0;
	}
}
