@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: auto;
	background-color: #f8f8f8;
	font-family: "Lato", sans-serif;
	color: #111111;
}

body,
a {
	color: #111111;
}

main {
	display: flex;
	flex-direction: column;
}

/* HEADER STYLING START */

header,
footer {
	padding-left: 62px;
	padding-right: 62px;
}

header {
	padding-top: 21px;
	padding-bottom: 24px;
	border-bottom: solid 1px #c5c5c5;
	display: flex;
}

header h2,
header .right {
	flex: 1;
}

header h2 {
	margin-right: 40px;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1px;
}

header ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	width: 365px;
	justify-content: space-between;
	font-size: 15px;
	padding-top: 4px;
}

header a {
	text-decoration: none;
	opacity: 0.5;
}

header a:hover {
	opacity: 0.8;
}

/* HEADER STYLING END */

/* MAIN#CONTAINER STYLING START */

main {
	display: flex;
	flex-direction: column;
}

main h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 21px;
}

main h3 {
	font-size: 18px;
}

main p,
main li,
main a {
	font-size: 18px;
	line-height: 33px;
	list-style: none;
}

main ul {
	padding: 0;
}

#about,
#clients,
#network {
	display: flex;
}

/* MAIN#CONTAINER STYLING END */

/* MAIN#ABOUT STYLING START */

#about .left {
	/*padding: 182px 0 58px 25px;*/
	padding: 182px 0 58px 0;
	width: 50%;
}

#about .content {
	width: 444px;
	margin: 0 auto;
}

#about .right {
	flex: 1;
	overflow: hidden;
}

#about a {
	font-weight: 700;
}

#about .divider {
	width: 100%;
	height: 1px;
	background-color: #c5c5c5;
	opacity: 0.5;
	margin: 50px 0 63px 0;
}

#about h3 {
	margin-bottom: 13px;
}

#about .info-card {
	margin-bottom: 54px;
}

#about img {
	height: 1000px;
}

/* MAIN#ABOUT STYLING START */

/* MAIN#CLIENT STYLING START */

#clients .left {
	width: 50%;
}

#clients img {
	width: 100%;
	height: 1000px;
	object-fit: cover;
}

#clients .right {
	padding: 182px 0 58px 165px;
	flex: 1;
	overflow: hidden;
}

#clients ul {
	padding-top: 10px;
}

#clients a {
	text-decoration: none;
}

#clients a:hover {
	text-decoration: underline;
}

/* MAIN#CLIENT STYLING END */

/* MAIN#NETWORK STYLING START */

#network {
	padding: 70px 60px 0 60px;
	flex-direction: column;
}

#network h1 {
	margin-bottom: 38px;
}

#network .loc-cards {
	display: flex;
	flex-wrap: wrap;
}

#network .card {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
	margin-bottom: 70px;
	max-width: 390px;
}

#network p.descript {
	margin-bottom: 25px;
}

#network .contact {
	margin-bottom: 30px;
}

#network #pakistan.card {
	max-width: 730px !important;
	flex-grow: 1;
}

#network #pakistan.card p.descript {
	width: 450px;
}

#network .pakistan-group {
	display: flex;
	justify-content: space-between;
}

#network .pakistan-contact {
	margin-right: 30px;
}

#network .card h3 {
	margin-bottom: 15px;
}

#network .card .blue-border {
	width: 20px;
	height: 3px;
	background-color: #2913ad;
	margin-bottom: 15px;
}

#network .card-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
}

#network a {
	text-decoration: none;
	display: block;
}

#network a:hover {
	text-decoration: underline;
}

#network a.email {
	color: #2913ad;
	text-decoration: underline;
}

#network address p {
	font-style: initial;
}

/* MAIN#NETWORK STYLING END */

/* FOOTER STYLING START */

footer {
	height: 92px;
	display: flex;
	border-top: solid 1px #c5c5c5;
	align-items: center;
	font-size: 18px;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

/* FOOTER STYLING END */

/* MAIN#ABOUT STYLING END */

@media only screen and (max-width: 970px) {
	header ul {
		display: none;
	}
	header h2 {
		margin-right: 0;
	}
}
